<html>
    <head>
        <title>add</title>
    </head>
    <body>
        <center>
        <div class="container">
        <form action="/AddData" method="POST">
            <div><h1>Add New Book</h1></div><br>
            BOOKID:<br>
            <input type="number" placeholder="Enter BookId" name="BookId"><br><br>
            BOOK NAME:<br>
            <input type="text" placeholder="BookId Name" name="Name"><br><br>
            BOOK AUTHOR:<br>
            <input type="text" placeholder="Enter author name" name="author"><br><br>
            BOOK STOCK:<br>
            <input type="number" placeholder="Enter stock" name="stock"><br><br>
            BOOK COST:<br>
            <input type="number" placeholder="Enter cost" name="cost"><br><br>

            <button id="submit" type="submit" >Submit</button>
        </form>
       
    </div>
    <a href="/" class="c3" >Home Page</a>
</center>
    </body>
</html>