<html>
    <head>
        <title>delete</title>
    </head>
    <body>
        <center>
        <div class="container">
        
        <form action="/delete" method="POST">
            <div><h1>Delete Book</h1></div>
            <input type="number" placeholder="Enter BookID" name="BookId"><br><br>
            <button id="delete">Delete</button>
        </form>
    </div>
    <a href="/" class="c3" >Home Page</a>
</center>
    </body>
</html>