<html>
    <head>
        <title>update</title>
    </head>
    <body>
        <center>
        <div class ="container">
            <form method="POST" action="/update">
                <div><h1>Update Book</h1></div>
                <input type="number" placeholder="Enter Book ID" name="BookId"><br><br>
                <input type="text" placeholder="Enter stock" name="stock"><br><br>
     
                <button id="update">Update</button>
            </form>
        </div>
        <a href="/" class="c3">Home Page</a>
    </center>
    </body>
</html>